<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>PilotSoar Studios</h1>
            <hr>
            <h4>Photography and Video to fit your event and make it the most memorable possible.</h4>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>

